doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Image Search Abstraction Layer
    link(id='favicon', rel='icon', type='image/x-icon', href='https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico?1469823370860')
    link(href='https://fonts.googleapis.com/css?family=Titillium+Web:300|700', rel='stylesheet')
    link(href='/style.css', rel='stylesheet')
    script(src='/script.js')

  body
    header.head
      h1.header Image Search Abstraction Layer
      h2.subhead FreeCodeCamp Back End Certification API project #4

    main.container
      div.row
        div.card
          h3.card__title User stories:
          ul
            li I can get the image URLs, alt text and page urls for a set of images relating to a given search string.
            li I can paginate through the responses by adding a ?offset=2 parameter to the URL.
            li I can get a list of the most recently submitted search strings.

      div.row
        div.card
          fieldset
            input#searchInput.input(placeholder='Search for images')
            button#searchButton.card__action search

      div.row
        if !data
          h3#no_results.subhead.center No Results
        else if error
          h3.subhead.center= error
        else
          h3.subhead.center Search results for "#{data.query}"
          div.navigation
            if +data.offset > 10
              a#prev.arrow(href=`${baseUrl}?offset=${+data.offset - 10}` alt="previous 10 results" title="previous 10 results")
                div.prev &#9664;
            span.pagination Results #{+data.offset} – #{+data.offset + 10}
            a#next.arrow(href=`${baseUrl}?offset=${+data.offset + 10}` alt="next 10 results" title="next 10 results")
              div.next &#9654;
          #results.card.results
            each item in data.items
              a(href=item.url target="_blank")
                img.image(src=item.thumbnail alt=item.snippet title=item.snippet)

    footer.foot
      div.icon__wrap
        a.github(href='https://github.com/rifkegribenes/image-search-abstraction-layer' target="_blank")
          img.github(src='https://cdn.glitch.com/22a70955-ef8c-44b6-9fd7-5377da7be776%2Ficon-github.png?1516058791588' alt='view code on github')